global{
	font-family : "ApplicationFont";
	font-size:10pt;
}

@font-face{
	font-family: ApplicationFont;
	src: local("Arial");
}

.HeaderText{
  color: #003B66; 
  font-size: 11pt;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.pnlHeaderText{
  color: #000000; 
  font-size: 11pt;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}